@{
    ViewBag.Title = "» Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    4Ħealthy Company<br />
    Curitiba - PR, Rua Guilherme Weigert - 82720-352<br />
    <abbr title="Telefone"> ✆ Telefone:</abbr>
    41 32578256 / WHATSAPP: 41 9 99176279
</address>

<address>
    <strong>Contato para suporte ✉ :</strong>   <a>suporte4h@gmail.com</a><br />
    <strong>Contato empresarial ✉ :</strong> <a>4healthyprof@gmail.com</a>
</address>