@{
    ViewBag.Title = "» Exercicios";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<br />
<strong>Disponibilizamos uma pequena lista para você que deseja manter o seu peso, ou até mesmo eliminar aquelas gordurinhas.</strong>
<br />
<br />
<strong>❖ Muay Thai ❖ - 60 Minutos - 378 kcal </strong>
<br />
<br />
<strong>❖ Caminhada ❖ - 60 Minutos - 247 kcal </strong>
<br />
<br />
<strong>❖ Corrida ❖ - 60 Minutos - 401 kcal</strong>
<br />
<br />
<strong>❖ Ciclismo ❖ - 60 Minutos - 229 kcal</strong>
<br />
<br />
<strong>❖ Treinamento de Circuito / Musculação ❖ - 60 Minutos - 459 kcal</strong>