@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1> 4ĦEALTHY </h1>
    <p class="lead">A 4Ħealthy  é mais que um site que fornece valores nutricionais e tabelas nutricionais para lhe ajudar a perder peso: a 4Ħealthy é uma poderosa ferramenta para otimização da saúde.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comece Agora !</h2>
        <p>
            Comece agora a ter uma vida mais saúdavel, com nossa ajuda você pode provolongar sua espectativa de vida, assim como
           lhe ajudar a manter uma rotina de acordo com suas atividades diárias. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lista de Alimentos</h2>
        <p>Confira agora nossa lista de alimentos, com dados nutricionais, tais como calorias, gorduras e nível de sódio, fornecendo a você a informação necessária sobre os alimentos que você está consumindo.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Confira &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calculadora</h2>
        <p>Nossa calculadora permite ao usuário calcular seu IMC(Indíce de Massa Corporal.), para saber se o seu peso está de acordo com idade e tamanho.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Acesse &raquo;</a></p>
    </div>
</div>