@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1> 4ĦEALTHY </h1>
    <p class="lead">A 4Ħealthy  é mais que um site que fornece valores nutricionais e tabelas nutricionais para lhe ajudar a perder peso: a 4Ħealthy é uma poderosa ferramenta para otimização da saúde.</p>
</div>
<div class="modal-title">
    <div class="modal-title">
        <h2>Calculadora</h2>
        <p>Nossa calculadora permite ao usuário calcular seu IMC(Indíce de Massa Corporal.), para saber se o seu peso está de acordo com idade e tamanho.</p>
    </div>
</div>
<br />
<br />
<div class="yz-widget" data-calculator-type="bmi" data-language="pt" data-unit-system="metric" data-background-color="#EEEEEE" data-text-color="#0000000" data-primary-color="#00FA9A" data-alternate-background-color="#FFFFFF" data-alternate-text-color="#FFFFFF" data-secondary-color="#00BFFF"><span class="yz-copyright">Powered by <a href="https://www.yazio.com/pt/calculadora-imc">YAZIO</a></span></div>
<script src="https://widget.yazio.com/calculator.js" async></script>