@{
    ViewBag.Title = "» Lista";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>Aqui você encontra uma lista com informações sobre os alimentos que muitas pessoas consomem no dia a dia. 
    Ajudando você a saber quais valores nutricionais você ingere em seus alimentos.</p>
<br />
<br />
<strong>❖ Lista de Frutas❖ </strong>
<br />
<br />

<strong> ↓ Maça ↓ (fruta: 182,0g)</strong>
<br />
<br />
<p>▐ Kcal: 95 ▐ Gordura: 0,3g ▐ Carboidratos: 25,1g ▐ Proteína: 0,5g ▐ </p>
<br />
<br />
<strong> ↓ Banana ↓ (fruta, normal: 150,0g) </strong>
<br />
<br />
<p>▐ Kcal: 134 ▐ Gordura: 0,5g ▐ Carboidratos: 34,3g ▐ Proteína: 1,6g ▐</p>
<br />
<br />
<strong> ↓ Maracujá ↓ (fruta: 18,0g) </strong>
<br />
<br />
<p>▐ Kcal: 17 ▐ Gordura: 0,1g ▐ Carboidratos: 4,2g ▐ Proteína: 0,4g ▐</p>
<br />
<br />
<strong> ↓ Laranja ↓ (fruta, grande: 184,0g)</strong>
<br />
<br />
<p>▐ Kcal: 86 ▐ Gordura: 0,2 ▐ Carboidratos: 21,6 ▐ Proteína: 1,7g ▐</p>
<br />
<br />
<strong> ↓ Melancia ↓ (fruta, fatia: 286,0g)</strong>
<br />
<br />
<p>▐ Kcal: 86 ▐ Gordura: 0,4g ▐ Carboidratos: 21,6 ▐ Proteína: 1,7g ▐</p>
<br />
<br />
<br />
<br />
<br />
<strong>❖ Lista de Massas ❖</strong>
<br />
<br />
<strong> ↓ Macarrão, cozido ↓ (xícara: 140,0g)</strong>
<br />
<br />
<p>▐ Kcal: 221 ▐ Gordura 1,3g ▐ Carboidratos: 43,2g ▐ Proteína: 8,1g ▐</p>
<br />
<br />
<strong> ↓ Macarrão integral, cozido ↓ (xícara: 140,0g)</strong>
<br />
<br />
<p>▐ Kcal: 174 ▐ Gordura: 0,8g ▐ Carboidratos: 37,2g ▐ Proteína: 7,5g ▐</p>
<br />
<br />
<strong> ↓ Macarrão Japonês somen, cozido ↓ (xícara: 176,0g)</strong>
<br />
<br />
<p>▐ Kcal: 231 ▐ Gordura: 0,3g ▐ Carboidratos: 48,5g ▐ Proteína: 7,0g ▐</p>
<br />
<br />
<br />
<br />
<br />
<strong>❖ Lista de carnes❖ </strong>
<br />
<br />
<strong> ↓ Bife de filé (porção: 144,0g)</strong>
<br />
<br />
<p>▐ Kcal: 268 ▐ Gordura: 11,3g ▐ Carboidratos: 0,1g ▐ Proteína: 41,4g ▐</p>
<br />
<br />
<strong> ↓ Carne bovina moída, crua ↓ (libras: 453,6g)</strong>
<br />
<br />
<p>▐ Kcal: 1.506 ▐ Gordura: 136,1g ▐ Carboidratos: 0,0g ▐ Proteína: 65,1g ▐</p>
<br />
<br />
<strong> ↓ Carne bovina, bife de picanha, cru ↓ (porção: 608,0g)</strong>
<br />
<br />
<p>▐ Kcal: 1.222 ▐ Gordura: 77,3g ▐ Carboidratos: 0,0g ▐ Proteína: 123,4g ▐</p>
<br />
<br />
<br />
<br />
<br />
<strong>❖ Lista de Fast Food ❖</strong>
<br />
<br />
<strong> ↓ Whopper duplo, Burger King ↓ (hambúrguer: 374,0g)</strong>
<br />
<br />
<p>▐ Kcal: 942 ▐ Gordura: 58,6g ▐ Carboidratos: 51,4g ▐ Proteína: 52,1g ▐</p>
<br />
<br />
<strong> ↓ Cachorro Quente ↓ (inteiro 98,0g)</strong>
<br />
<br />
<p>▐ Kcal: 242 ▐ Gordura: 14,5g ▐ Carboidratos: 18,0g ▐ Proteína: 10,4g ▐</p>
<br />
<br />
<strong> ↓ Batata Frita, McDonald's ↓ (porção, média: 117,0g)</strong>
<br />
<br />
<p>▐ Kcal: 378 ▐ Gordura: 18,1g ▐ Carboidratos: 49,8g ▐ Proteína: 4,0g ▐</p>