@{
    ViewBag.Title = "Lista";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Aqui você encontra uma lista com informações sobre os alimentos que muitas pessoas consomem no dia a dia. 
    Ajudando você a saber quais valores nutricionais você ingere em seus alimentos.</p>
<br />
<br />
<br />

<h4>-Lista</h4>