@{
    ViewBag.Title = "» Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />

<p>É de conhecimento de poucos, que um dos maiores prolemas relacionados à problemas de saúde hoje em dia, é a obesidade. Resultado de hábitos alimentares repletos de carboitrados e gorduras, sem preocupações com o corpo. Para tentar reduzir a taixa de obesidade mundial, mas também lhe ajudar a manter-se em saúde tanto fisicamente quanto psicológicamente, criamos a 4ĦEALTHY. Porque não há nada melhor do que estar de bem entre corpo e alma.</p>
<br />
<p>Apesar de nos preocuparmos sempre com a estética, o sobrepeso e, principalmente, a obesidade são responsáveis por diversos problemas físicos. Confira abaixo uma lista dos males que um peso extra pode causar:</p>
<br />
<strong>• Expectativa de vida</strong>
<p>Estudos mostram que o sobrepeso pode encurtar a expectativa de vida de uma pessoa em até um ano, e que a obesidade severa reduz em até 10 anos os seus dias aqui na Terra.</p>
<br />
<strong>• Hipertensão Arterial</strong>
<p>As doenças cardiológicas, em um geral, têm relação diretamente com a obesidade, porém a hipertensão arterial é a maior delas. É o maior fator de risco para desencadear essa doença, que também é agravada com uma alimentação rica em sal e gorduras, o que geralmente é a preferência dos obesos.</p>
<br />
<strong>• Diabetes</strong>
<p>É notável que a maioria das pessoas com problemas de diabetes também estão com ao menos sobrepeso. O aumento das células gordurosas diminui a quantidade de células receptoras, o que faz necessária uma quantidade ainda maior de insulina. Portanto, se você é diabético, é necessário que tenha controle sobre o seu peso o quanto antes.</p>
<br />
<strong>• Asma</strong>
<p>Algumas doenças respiratórias, como a asma, tendem a atacar mais as pessoas com sobrepeso. Isso porque as vias respiratórias precisam de um elevado trabalho de respiração quando o obeso entra em constante movimento, não dando conta da demanda necessária de ar e desencadeando uma crise de asma.</p>
<br />
<strong>• Apneia do Sono</strong>
<p>É uma síndrome que atinge as vias respiratórias durante o sono, inibindo a passagem de ar por alguns segundos, o que causa uma má qualidade do descanso necessário durante a noite. Geralmente afeta pessoas com peso acima do ideal.</p>
<br />
<strong>• Infertilidade</strong>
<p>Se você sempre sonhou em ter um filho, mas nunca conseguiu, é hora de também começar a se preocupar com os números na balança. Pessoas com sobrepeso e mais sedentárias, correm o risco de terem alterações hormonais que dificultam a fecundação. As que conseguem engravidar, mas passam uma gestação acima do peso tendem a também desenvolver uma gravidez de risco exigindo diversos cuidados.</p>